@page
@model control.personal.Pages.Identificacion.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Identificacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion.Uid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion.Uid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion.Usuario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Identificacion.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
